@model RMS.Models.StudentViewEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>StudentViewEdit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentage" class="control-label"></label>
                <input asp-for="Parentage" class="form-control" />
                <span asp-validation-for="Parentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAge" class="control-label"></label>
                <input asp-for="StudentAge" class="form-control" />
                <span asp-validation-for="StudentAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentEmail" class="control-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhone" class="control-label"></label>
                <input asp-for="StudentPhone" class="form-control" />
                <span asp-validation-for="StudentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adhaar" class="control-label"></label>
                <input asp-for="Adhaar" class="form-control" />
                <span asp-validation-for="Adhaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhoto" class="control-label"></label>
                <img src="~/Images/@Model.StudentPhoto" class="img-fluid" width="100" height="100" asp-append-version="true" />
                <label>Or Upload New Photo</label>
                <input asp-for="StudentPhoto" type="file" id="newPhoto" name="newPhoto" />
                <span asp-validation-for="StudentPhoto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <select asp-for="Course" class="form-control" asp-items="ViewBag.CourseList">
                    @if (ViewBag.data != null)
                    {
                        <option disabled selected>Select Course</option>
                        @foreach (var item in ViewBag.data)
                        {
                            <option value="@item.CourseId">@item.CourseName</option>
                        }
                    }
                </select>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowStudents">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
